_site/*
_theme_packages/*

Thumbs.db
.DS_Store

!.gitkeep

.rbenv-version
.rvmrc
/bower_components/
/dist/
/essential-scala/
/core-scala/
/core-scala.zip
/node_modules/

# Built copy of the site:
/essential-play
*.sublime-workspace
